$feature-color: #00897b;
$section-background: #e0f2f1;

$button-save-background: #4caf50;
$button-save-border: #388e3c;
$button-save-text: #e8f5e9;

$button-restore-background: #e65100;
$button-restore-border: #ef6c00;
$button-restore-text: #fff3e0;

// $button-save-background: #198754;
// $button-save-border: #198754;

// $button-restore-background: #dc3545;
// $button-restore-border: #dc3545;
