@import "./Colours.scss";

.ui-button {
  width: 80px;
  height: 32px;
  border-radius: 4px;
  font-size: 18px;
  margin: 4px;
  border: solid 1px $feature-color;
  cursor: pointer;

  &.save {
    background: $button-save-background;
    border-color: $button-save-border;
    color: $button-save-text;

    &:hover {
      background: darken($button-save-background, 5);
      border-color: darken($button-save-border, 5);
    }
  }

  &.restore {
    background: $button-restore-background;
    border-color: $button-restore-border;
    color: $button-restore-text;

    &:hover {
      background: darken($button-restore-background, 5);
      border-color: darken($button-restore-border, 5);
    }
  }
}
